<?xml version="1.0"?>
<appSettings>
    <add key="ida:AppID" value="bc8c87b6-2ae6-494e-aa7b-06eff730dc54" />
    <add key="ida:AppSecret" value="eqvpRHJ93~%#cupAZKP057|" />
    <add key="ida:RedirectUri" value="https://localhost:44375/" />
    <add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>
